.App {

    .AppContent{
        margin: 0 1em;

        .AppConnectWallet {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 2em;

        }
    }
}